h1 {
  text-align: center;
}

.container {
    height: 529px;
    width: 533.3px;
    border-left: 3px solid black;
    border-top: 3px solid black;
    margin-left: 0px;
    margin-right: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 4px;
}

html {
    height: 400px;
    display: flex;
  }
  
body {
    width: 520px;
    margin: auto;
  }

  .squareDivs {
    display: inline-flex;
    margin-top: -4px;
  }

 .buttons {
  display: flex;
  width: 540px;
  justify-content: space-evenly;
 }

 button {
  cursor: pointer;
 }