h1 {
  text-align: center;
}

.container {
    height: 516px;
    width: 520px;
    border-left: 3px solid black;
    border-top: 3px solid black;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 4px;
}

html {
    height: 400px;
    display: flex;
  }
  
body {
    width: 520px;
    margin: auto;
  }

 .buttons {
  display: flex;
  justify-content: space-between;
 }

 button {
  cursor: pointer;
 }

 .gridSize {
    display: flex;
    justify-content: center;
 }

 