h1 {
  text-align: center;
  color: #ffff66;
  font-family: "DotGothic16", sans-serif;
  font-size: 45px;
}

.container {
    height: 520px;
    width: 520px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 0px;
    background-color: black;
}

html {
    height: 400px;
    display: flex;
  }
  
body {
    width: 520px;
    margin: auto;
    background-color: #3399ff
  }

 .buttons {
  display: flex;
  justify-content: space-between;
 }

 button {
  cursor: pointer;
  background-color: #ffff66;
  border: 2px solid black;
  border-radius: 5px;
  font-family: "VT323", monospace;
  font-size: 20px;
 }

 button:hover {
  background-color: #e6e600;
 }

 .gridSize {
    display: flex;
    justify-content: center;
 }

 